<!DOCTYPE html>
<html>
    <head>
        <title>Hello Express</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <h6>
      		<div class="w3-bar w3-black">
  				<a href="#" class="w3-bar-item w3-button">Home</a>
				<a href="#" class="w3-bar-item w3-button">Nav 1</a>
				<a href="#" class="w3-bar-item w3-button">Nav 2</a>
				<a href="#" class="w3-bar-item w3-button">Nav 3</a>
			</div>
		</h6>

        {{{ body }}}

        <h6><button id="button" onclick="#">Footer Button</button></h6>
    </body>
</html>