<form action="/recipes" method="POST">
  <div id='titleInput'>
    <label for="title">Title:</label>
    <input type="text" name="title">
  </div>
  <div id='veggieButtons'>
    <label for="veggie">Vegetarian:</label>
    <span>True</span><input type="radio" name="veggie" value="true" checked>
    <span>False</span><input type="radio" name="veggie" value="false">
  </div>
  <div id='imageInput'>
    <label for='imageUrl'>Image URL:</label>
    <input type='text' name='imageUrl'>
  </div>
  <div>
    <input type="submit" value="Add a New Recipe Bro">
  </div>
</form> 